* {
    box-sizing: border-box;
}

body {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

body.fade-in {
    opacity: 1;
}

body {
    margin: 0;
    height: 100vh;
    background: url("images/bg.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container {
    border-radius: 67px;
    background: rgba(255, 243, 184, 0.71);
    padding: 30px 40px;
    box-shadow: 0 10px 40px rgba(126, 87, 194, 0.2);
    text-align: center;
    
    width: 725px;
    height: 564px;
    max-width: 90%; 
    
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    position: relative;
    gap: 20px; 
}

.intro-container h1 {
    color: #FE6A86;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0; 
}

.intro-container p {
    color: #FE6A86;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.intro-container a.start-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 69px;
    border-radius: 34.5px;
    background: #FFDD13;
    border: none;
    color: #FE6A86;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    text-decoration: none; 
    transition: transform 0.2s, background 0.2s; 
}


.intro-container a.start-btn:hover {
    cursor: pointer;
    background: #f6c6dc;
    transform: scale(1.05); 
}

